@media screen and (min-width:768px) and (max-width:992px) {

    body{
        background-image: linear-gradient(to bottom,#5f2d82,#53AAA7);
    }

    section#login{
        height: 280px;
        width: 80vw;
    }

    div#foto{
        float:left;
        height: 100%;
        width: 30%;
    }
    
    div#formulario{
        float: right;
        width: 70%;
    }
}



@media screen and (min-width: 993px) {

    body {
        background-image: linear-gradient(to bottom,#5f2d82,#53AAA7);
    }

    section#login{
        height: 350px;
        width: 950px;
    }

    div#foto{
        float: right;
        width: 50%;
        height:100%;
    }
    
    div#formulario{
        float: left;
        width:50%;
    }
      

    div#formulario>h1{
        font-size:2em;
    }
    div#formulario>p{
        font-size:1em;
        margin: 20px 0px;
    }

}